.search-container {
  padding: 20px;
}

.search-form {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-input {
  width: 200px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-btn {
  background: #007BFF;
  border: none;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
}

.search-keyword {
  color: red;
  margin-top: 10px;
}

.user-list {
  margin-top: 20px;
}

.user-item {
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.user-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ddd;
}

.user-name {
  font-size: 16px;
}

.follow-form {
  margin-left: auto;
}

.btn-follow {
  background-color: #007BFF;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-unfollow {
  background-color: #FF4B4B;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
